.vscode/

# Airflow logs
logs/
*.log

# Data files
data/

# Python
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/


# Keep schema folder tracked (but add .gitkeep)
!data/schema/
data/schema/.gitkeep

# Environments
.env
.venv
.env/
.project/
mlops-gcp-lab1-2ef0048693b3.json
/.dvc